!client/out/extension.js
!server/out/server.js

.eslintignore
.eslintrc
.gitattributes
.github
.github/**
.gitignore
.gitignore
.mocharc.json
.vscode
.vscode-test/**
.vscode/**
.vscode/**
.yarnrc
*.code-workspace
*.git*
*.vsix
**/.eslintrc.json
**/*.js.map
**/*.map
**/*.ts
**/*.ts
**/CODE_OF_CONDUCT.md
**/CONTRIBUTING.md
**/Debugging.md
**/NOTE.md
**/tsconfig.json
**/tsconfig.json
**/webpack.config.js
client/node_modules/**
client/out/**
client/src/**
CODE_OF_CONDUCT.md
CONTRIBUTING.md
contributing.mdp
Debugging.md
documentation/**
LICENSES
LICENSES/**
log.txt
minecraft colours.json
minecraft-bedrock-schemas/*
minecraft-bedrock-schemas/**/*
node_modules
node_modules/**
NOTE.md
out/test/**
scripts/**
server/node_modules/**
server/out/**
server/src/**
server/test/**
source schemas/**
src/**
src/**
tools/**
tsconfig.json
vsc-extension-quickstart.md
webpack.config.js